.vs/
ConstructionCompany.Common/bin/
ConstructionCompany.Common/obj/
ConstructionCompany.DataContext/bin/
ConstructionCompany.DataContext/obj/
ConstructionCompany.EntityModels/bin/
ConstructionCompany.EntityModels/obj/
ConstructionCompany.WebAPI.Test/bin/
ConstructionCompany.WebAPI.Test/obj/
ConstructionCompany.WebAPI/bin/
ConstructionCompany.WebAPI/obj/
ConstructionCompany.WebAPI/Files/
constructioncompany.web.client/node_modules
constructioncompany.web.client/.pnp
constructioncompany.web.client/.pnp.js
ConstructionCompany.Internal/FileProcessOperationsHandler/bin/
ConstructionCompany.Internal/FileProcessOperationsHandler/obj/
FileProcessOperationsHandler/

# testing
constructioncompany.web.client/coverage

# production
constructioncompany.web.client/build

# misc
constructioncompany.web.client/.DS_Store
constructioncompany.web.client/.env.local
constructioncompany.web.client/.env.development.local
constructioncompany.web.client/.env.test.local
constructioncompany.web.client/.env.production.local

constructioncompany.web.client/npm-debug.log*
constructioncompany.web.client/yarn-debug.log*
constructioncompany.web.client/yarn-error.log*

*.rar
*.zip