.calendar-wrapper{
    margin-top:6rem;

    .calendar{
        display:grid;
        grid-template-columns: repeat(7,8rem);
        grid-row-gap:10px;
        grid-column-gap:10px;
        justify-content: center;
        margin:0 auto;
        margin-top:2rem;
        width:58rem;

        .day-in-week{
            width:5rem;
            text-align: center;
            font-weight: 600;
        }

        .day{
            width:5rem;
            height:5rem;
            padding:.8rem 0rem 0rem .8rem;
            border-radius:5px;
            box-sizing: border-box;
            background-color: $blue-color-base-mid-light;
            color:$text-gray;
            font-weight: 600;
            transition: background-color .15s;
            border:.5px solid transparent;
            cursor: pointer;
            &--selected{
                background-color: darken($blue-color-base-mid-light,15%);
                border:.5px solid darken($blue-color-base-mid-light,40%);
            }
            &:hover{
                background-color: darken($blue-color-base-mid-light,5%);
            }
            &-sunday{
                background-color: $red-color-mild;
                &.day--selected{
                    background-color: darken($red-color-mild,15%);
                    border:.5px solid darken($red-color-mild,40%);
                }
                &:hover{
                    background-color: darken($red-color-mild,5%);
                }
            }

        }

        &-header, &-footer{
            width:66rem;
            margin:0 auto;
            text-align: center;
            background-color: $green-color-medium;
            border-radius:20px;
            color:$text-light;
        }
        &-footer{
            height: 1.5rem;
            margin-top:2rem;
        }
    }

}
