.dropdown{
    position:relative;
    display:block;
    max-width: 20rem;
    text-align:center;

    &__open{
        display:none;
    }

    &__label{ 
        display:inline-block;
        min-width: 80%;
        background-color: $white-color-transparent;
        border:1.5px solid $blue-color-medium;
        border-radius: 20px;
        box-sizing: border-box;
        display:inline-block;
        padding:1rem 2rem .8rem 2rem;
        color:$text-gray;
        font-weight: 500;
        transition:background-color .2s;
        cursor:pointer;
        &:hover{
            background-color: $white-color-transparent-dark;
        }
    }

    &__menu{
        border-radius:6px;
        overflow: hidden;
        background-color: $white-color;
        display: inline-block;
        visibility: hidden;
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        transform: translateY(100%);
        box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.342);
        z-index:100;
    }

    &__item{
        display:inline-block;
        text-align: center;
        position:relative;
        width:100%;
        padding:.5rem 0rem;

        &.active{
            background:rgba($blue-color-light,.6%);
        }

        &::before{
            content:'';
            display: inline-block;
            background:$blue-color-medium;
            width:.5rem;
            height:100%;
            visibility: hidden;
            opacity:0;
            transition:all .2s;
            position:absolute;
            top:0;
            left:0;
        }
        &:hover{
            cursor: pointer;
            background-color: $blue-color-light;
            &::before{
                visibility: visible;
                opacity:1;
            }
        }

        &--multiselect{
            display:inline-grid;
            grid-template-columns: repeat(2,1fr);
            padding:0rem 0rem;
            &::before{
                display:none;
            }

            &:hover{
                background-color: transparent;
            }
            
            & span[data-type="confirm_selection"],
            & span[data-type="reset_selection"]{
                display: inline-block;
                text-align: center;
                width:100%;
                height: 100%;
                padding:0.2rem 0rem;
                
            }

            & span[data-type="confirm_selection"]{
                background-color: rgba($green-color-medium,.3%);
                &:hover{
                    background-color: rgba($green-color-medium,.7%);
                }
            }
            & span[data-type="reset_selection"]{
                background-color: rgba($red-color-base,.3%);
                &:hover{
                    background-color: rgba($red-color-base,.7%);
                }
            }
        }
    }

    &__open:checked + &__menu{
        visibility: visible;
    }
}