.input-text{
    border:1.5px solid $blue-color-base;
    padding: .7rem .7rem;
    border-top-left-radius: 10px;

    display:inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    &__label{
        padding:.2rem 0rem .2rem .5rem;
        border-top-left-radius: 5px;
        width: 100%;
        display:block;
        background-color: $blue-color-light;
        font-weight: 500;
        letter-spacing: .1rem;
        color:$text-gray;
    }

    &__field{
        display: inline-block;
        padding:.2rem .5rem;
        border-radius: 5px;
        border:1px solid transparent;
        color:$text-gray;

        &:focus{
            outline:.5px solid $blue-color-base;
        }
    }
}