
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    font-size:62.5%;
}
body{
    background-color: rgb(245, 245, 245);
}
.center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}