$green-color-light:#DDF8D6;
$green-color-base:rgb(49, 224, 43);
$green-color-medium:#00AA67;
$green-color-dark:rgb(20, 109, 17);
$green-color-highlight:#F6EDD9;

$red-color-base: rgb(236, 89, 20);
$red-color-mild: rgb(255, 163, 147);

$blue-color-light:#D4F4FF;
$blue-color-base-mid-light:#9ee2fd;
$blue-color-base:#00B8FF;
$blue-color-medium:#0082C7;
$blue-color-dark:#004B74;
$blue-color-dark-super:#001b2a;

$mute-color-dark:#3F4A3C;
$mute-color-medium:#555534;
$mute-color-light:#A2AF9F;

$violet-color-base:#9999CC;

$white-color:#fff;
$cream-white:#F2F2F2;
$white-color-transparent:rgba(255, 255, 255, 0.541);
$white-color-transparent-dark:rgba(226, 226, 226, 0.589);

$smoky-white-color-light: rgb(223, 223, 223);
$smoky-white-color: rgb(194, 194, 194);

$text-light:#f7f7f7;
$text-gray:#4e4e4e;

$table-color: #009879;
$table-color-dark: #00987a69;
$table-color-transparent: #00987a2c;
$table-color-transparent-dark: #68c07734;

$gradiliste-tab-background-green:#00aa661f;
$gradiliste-tab-background-green-hover: #a2af9f56;
$gradiliste-tab-text-dark:#0c1807bb;
$gradiliste-tab-text-dark-transparent:rgba(12, 24, 7, 0.238);
$gradiliste-tab-text-dark-hover:#0c1807d7;