$green-color-light:#DDF8D6;
$green-color-base:rgb(49, 224, 43);
$green-color-medium:#00AA67;
$green-color-dark:rgb(20, 109, 17);
$green-color-highlight:#F6EDD9;

$red-color-base: rgb(236, 89, 20);

$blue-color-light:#D4F4FF;
$blue-color-base:#00B8FF;
$blue-color-medium:#0082C7;
$blue-color-dark:#004B74;

$mute-color-dark:#3F4A3C;
$mute-color-medium:#555534;
$mute-color-light:#A2AF9F;

$violet-color-base:#9999CC;

$white-color:#fff;

$smoky-white-color-light: rgb(223, 223, 223);
$smoky-white-color: rgb(194, 194, 194);


$table-color: #009879;
$table-color-dark: #00987a69;
$table-color-transparent: #00987a2c;
$table-color-transparent-dark: #68c07734